# dependencies
/**/node_modules
/**/dist
/**/.analyze
/.pnp
.pnp.js
/**/.styles_temp

# testing
/coverage

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# locad IDE settings
/.idea/

.yarn/**/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/storybook/storybook-static
report.html
